.navbar {
  width: 100%;
  height: 60px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.menu li a:hover {
  color: #0d6efd; /* Azul bonito */
}
