body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }
  
  .App {
    min-height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 80px; 
    text-align: center;
  }
  
  .content {
    width: 100%;
  
    justify-content: center;
    padding: 2rem;
  }
  
  
  footer {
    background-color: #b2b2b2;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  
  
  h1{
    color: #5858ff;
    margin: center;
    margin-bottom: 1rem;
  }
  
  p {
    margin: center;
  }

  p{
    background-color: #b2b2b2;
    padding: 12px;
    color: white;
    border-radius: 4px;
    margin: 1rem 0;
}